@tailwind base;
@tailwind components;
@tailwind utilities;

.socialicons{
  font-size: 1.5rem;
  transition: 0.3s;
}

.hidesidebar{
  left: -100%;
  transition: 0.5s !important;
}
.showsidebar{
  left: 0;
  transition: 0.5s !important;
}

.socialicons:hover{
  scale: 1.1;
  color: white !important;
}